// _variables.scss

$primary-color: #3498db;
// $secondary-color: #e74c3c;
$color-red:#E73D24 ;
$color-richblack: #666666;
$color-blacktext:#4D4D4D;
$color-skyblue:#0066B0 ;
$color-pureblack:#000000 ;
$color-grayish:rgba(0, 0, 0, 0.6) ;
$color-smalltext:rgba(0, 0, 0, 0.5);
$color-titleText:rgba(0, 0, 0, 0.8);
$color-smallTextWhite: rgba(255, 255, 255, 0.5);






